In [5]:
import pandas as pd
import pickle
from scipy.stats import poisson

In [7]:
dict_table = pickle.load(open('data/dict_table','rb'))
df_historical_data = pd.read_csv('data/clean_fifa_worldcup_matches.csv')
df_fixture = pd.read_csv('data/clean_fifa_worldcup_fixture.csv')

# 1 calcular potencial de la selección

In [ ]:
#dividir el df en df_home y df_away

In [20]:
df_home = df_historical_data[['HomeTeam', 'HomeGoals', 'AwayGoals']]
df_away = df_historical_data[['AwayTeam', 'HomeGoals', 'AwayGoals']]

df_home = df_home.rename(columns={'HomeTeam':'Team', 'HomeGoals': 'GoalsScored', 'AwayGoals': 'GoalsConceded'})
df_away = df_away.rename(columns={'AwayTeam':'Team', 'HomeGoals': 'GoalsConceded', 'AwayGoals': 'GoalsScored'})

df_team_strength = pd.concat([df_home, df_away], ignore_index=True).groupby(['Team']).mean()
df_team_strength

               GoalsScored  GoalsConceded
Team
Algeria           1.000000       1.285714
Argentina         1.652174       1.326087
Australia         0.800000       2.100000
Austria           2.166667       2.166667
Belgium           1.560000       1.800000
...                    ...            ...
United States     1.333333       1.888889
Uruguay           1.853659       1.268293
Wales             0.800000       0.800000
West Germany      2.194444       1.500000
Yugoslavia        1.666667       1.333333

[69 rows x 2 columns]